
.reset-password button:active {background:rgba(0, 204, 0, 0.66);}
.member-type {
    margin-top:0.2rem;
    text-align:center;
    font-size:16px;
    color:#999;
    line-height:0.35rem;
}
.member-type a {
    border-radius:5px;
    color:#FFF;
    line-height:0.8rem;
    margin-bottom: 0.1rem;
    background-color:#FC605A;
    display:inline-block;
    width:80%;
    overflow: hidden;
}
.member-type a>img{
    width: 0.8rem;
    float: left;
}
.reset-password .reset-p-a { margin-top: 0.2rem;}
.member-type p {line-height:0.4rem;}
.member-type a:active {background-color:#EF5F59;}
.member-type .member-type-b{background-color:#60abff;}
.member-type .member-type-b:active{background-color:#7BB9FF;}